<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreeCRMAutomationPractice">

	<test thread-count="5" name="First Project">
		<classes>
			<class name="com.crm.testcases.HomePageTest" />
			<class name="com.crm.testcases.LoginPageTest" />
			<class name="com.crm.testcases.ContactsPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
